<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" type="text/css" href="css/reset.css">
<link rel="stylesheet" type="text/css" href="css/comment.css">
<title>ペチャ-クチャ変更</title>
</head>

<body>
<header>
  <p class="ttl"><a href=""><span class="arrow header_arrow"></span>ペチャ-クチャ変更</a></p>
</header>

<div class="change_area">
	<div class="change_box">
		<ul>
			<li><input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg"></a></li>
			<li><a href=""><img src="images/2.jpg" alt=""></a></li>
			<li><a href=""><img src="images/3.jpg" alt=""></a></li>
			<li><a href=""><img src="images/2.jpg" alt=""></a></li>
			<li><a href=""><img src="images/3.jpg" alt=""></a></li>
			<li><a href=""><img src="images/2.jpg" alt=""></a></li>
			<li><a href=""><img src="images/3.jpg" alt=""></a></li>
			<li><a href=""><img src="images/2.jpg" alt=""></a></li>
			<li><a href=""><img src="images/3.jpg" alt=""></a></li>
			<li><a href=""><img src="images/2.jpg" alt=""></a></li>
			<li><a href=""><img src="images/3.jpg" alt=""></a></li>
			<li><a href=""><img src="images/2.jpg" alt=""></a></li>
			<li><a href=""><img src="images/3.jpg" alt=""></a></li>
			<li><a href=""><img src="images/2.jpg" alt=""></a></li>
			<li><a href=""><img src="images/3.jpg" alt=""></a></li>
			<li><a href=""><img src="images/2.jpg" alt=""></a></li>
			<li><a href=""><img src="images/3.jpg" alt=""></a></li>
			<li><a href=""><img src="images/2.jpg" alt=""></a></li>
			<li><a href=""><img src="images/3.jpg" alt=""></a></li>
			<li><a href=""><img src="images/2.jpg" alt=""></a></li>
			<li><a href=""><img src="images/3.jpg" alt=""></a></li>
			<li><a href=""><img src="images/2.jpg" alt=""></a></li>
			<li><a href=""><img src="images/3.jpg" alt=""></a></li>
			<li><a href=""><img src="images/2.jpg" alt=""></a></li>
		</ul>
	</div>
</div>
</body>
</html>
